.about-us-container {
  max-width: 800px;
  margin:0 auto;
  font-weight: bold;
  margin-top:-5%;
  }
    
  .responsive-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius:5500%;
    
  }
  
  @media screen and (max-width: 768px) {
  .about-us-container{
    margin-top:-10%;
  }
}
