  .contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding:60px;
    position: relative;
    margin-top:-8%;
    
    }
  
  .contact-form {
    width: 100%;
  }
  
  .contact-form label,
  .contact-form textarea,
  .contact-form input {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    
  }
  
  .contact-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .contact-section {
    width: 48%; 
  }
  
  .map-container {
    margin-top: 20px;
  }
  .contact-form button{
    background-color: #007bff;
    border-radius:5px;
    font-weight: bold;
  }
  .contact-form button:hover{
    background-color: #28a745;
  }