.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  text-align: center;
}

.signup-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.signup-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-weight: bold;
}

.signup-container button {
  background-color:blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}
.signup-container button:hover{
  background-color: green;
}

@media (max-width: 600px) {
  .signup-container {
    max-width: 100%;
  }
}

