.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right:20px; 
    display: flex;
  }
 .logoimg{
  margin-right:20px;
 }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: orange; 
    color: #fff; 
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
   }
  
  .navbar li {
    display: inline;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    text-decoration: none;
    cursor: pointer;
  
  }
  .navbar li:hover{
    background-color: darkred;
  }
  

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar li {
    display: block;
    margin: 5px 0;
  }
}