
.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top:-4%;
    }

  
  h2 {
    text-align: center;
    padding:30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
     }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color:blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    input {
      padding: 6px;
    }
  
    button {
      padding: 8px;
    }
  }
  